
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --light: #d0d1d3;
  --dark: #040d14;
  --green: #21ce99;
}

body {
  background-color: var(--dark);
  color: #333;
  font: 1.2em / 1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 1em;
}

.list-group {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--dark);
  border-radius: .5em;
  width: 20em;
}

.list-group li {
  border-top: 1px solid #ccc;
  padding: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group li:first-child {
  border-top: 0;
}

.list-group .badge {
  background: var(--dark);
  color: #fff;
  font-weight: bold;
  font-size: 80%;
  border-radius: 10em;
  min-width: 1.5em;
  padding: .25em;
  text-align: center
}

.main-footer {
  color: white;
  background: var(--dark);
  padding-top: 1em;
  position:fixed;
  bottom:0;
  width: 100%;
  text-align: center;
}

h1 {
  color: var(--green);
}

.App {
  height: 75vh;
}

form {
  margin-top: 20px;
  background: var(--dark);
}

.formRow {
  margin: 10px 0 20px 0;
}

.formInput {
  padding: 25px 10px;
  background-color: var(--dark);
  box-shadow: 0 0 0 2px var(--green);
  border: none;
  color: var(--green);
}

.formInput:focus {
  background-color: var(--dark);
  outline: none;
  box-shadow: 0 0 0 2px var(--green);
  color: var(--light);
}

.formInput::placeholder {
  color: var(--green);
  opacity: 1;
}

.formInput:focus::placeholder {
  color: var(--light);
  opacity: 1;
}

.errorMessage {
  color: #f45532;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#notifyToast {
  color: #fff;
  border-radius: 6px;
  width: 200px;
  margin-left: 75px;
  background-color: var(--green);
}

.search-btn {
  background-color: var(--dark);
  color: var(--green) !important;
  padding: 15px 50px;
  border: 2px solid var(--green);
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.submit-btn {
  background-color: var(--dark);
  color: var(--green) !important;
  padding: 15px 50px;
  border: 2px solid var(--green);
  border-radius: 10px;
  margin-bottom: 25px;
}

.submit-btn:hover {
  background-color: var(--green);
  color: var(--dark) !important;
  border: 2px solid var(--green);
}

.submit-btn:disabled:hover {
  background-color: var(--dark);
  color: var(--green) !important;
  cursor: wait;
}

@media (max-width: 768px) {
  .submit-message {
    width: 125px;
    margin-left: 200px;
  }
}


.container2 {
  margin-top: 20px;
}

.container3 {
  margin-bottom: 10px;
}

.header1 {
  color: #737373
}